---
---

<footer class="flex flex-col items-center justify-center gap-4 p-6 text-center text-sm text-gray-500 bg-white"> 
  <p class="text-gray-500 text-sm text-center">
    Copyright © {new Date().getFullYear()} Decimate. All rights reserved.
  </p>
</footer>