---
import Main from "@/layouts/main.astro";
import AHPCalculator from '../components/AHPCalculator';
import WSMCalculator from '../components/WSMCalculator';
import WPMCalculator from '../components/WPMCalculator';
---

<Main title="Beranda" description="">

    <h1>Data Dummy :</h1>
    <AHPCalculator />
    <WSMCalculator />
    <WPMCalculator />
</Main>